<a href="https://colab.research.google.com/github/aliendaysxz/notes/blob/main/Series_Basic_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sys

0     5
1    10
2    15
3    20
4    25
dtype: int64 a

5 a[0]

15 a[2]

3     5
1    10
4    15
0    20
2    25
dtype: int64 a

20 a[0]

25 a[2]

5 b

15 c

25 d

1    10
0    20
dtype: int64 e

3     5
4    15
0    20
dtype: int64 f

0    82
1    94
2    77
3    89
4    91
5    54
dtype: int64 grades

homer      82
maggie     94
grandpa    77
bart       89
lisa       91
marge      54
dtype: int64

grades.iloc[3] = 89
grades.loc['bart'] = 89

homer      82
maggie     94
grandpa    77
bart       89
dtype: int64

homer      82
maggie     94
grandpa    77
dtype: int64

0          0.947971
1         -1.077581
2         -0.903535
3         -0.301845
4         -0.316193
             ...
9999995    1.074251
9999996   -0.066230
9999997   -0.101252
9999998   -0.297773
9999999   -0.536440
Length: 10000000, dtype: float64 g

RangeIndex(start=0, stop=10000000, step=1)

0          0.749679
1         -0.134760
2          0.315692
3          0.106732
4          0.906445
             ...
9999995    0.169907
9999996    0.383862
9999997   -0.473856
9999998   -0.620783
9999999    1.630310
Length: 10000000, dtype: float64 h

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            9999990, 9999991, 9999992, 9999993, 9999994, 9999995, 9999996,
            9999997, 9999998, 9999999],
           dtype='int64', length=10000000)

80000144
160000016
0     2
0     3
1     5
1     7
2    11
dtype: int64 i

0    2
0    3
dtype: int64

a    10
b    20
c    30
d    40
e    50
dtype: int64

a     10
b    200
c     30
d     40
e     50
dtype: int64

a     10
b    220
c     30
d     40
e     50
dtype: int64

a    99
b    99
c    99
d    40
e    50
dtype: int64

a    999
b    999
c    999
d     40
e     50
dtype: int64

a    9999
b    9999
c    9999
d      40
e      50
dtype: int64

In [ ]:
a = pd.Series([5,10,15,20,25])
print(a,'a\n')
print(a[0],'a[0]\n')
print(a[2],'a[2]\n')

0     5
1    10
2    15
3    20
4    25
dtype: int64 a

5 a[0]

15 a[2]

In [ ]:
a.index = [3,1,4,0,2]
print(a,'a\n')
print(a[0],'a[0]\n')
print(a[2],'a[2]\n')

3     5
1    10
4    15
0    20
2    25
dtype: int64 a

20 a[0]

25 a[2]

In [ ]:
b = a.iloc[0]
c = a.iloc[2]
print(b,'b\n')
print(c,'c\n')

#     0           3          5
#     1           1         10
#     2           4         15
#     3           0         20
#     4           2         25

# positions | index labels
d = a.iloc[-1]
print(d,'d\n')

e = a.iloc[1:4:2]
print(e,'e\n')

f = a.iloc[[0,2,3]]
print(f,'f\n')

5 b

15 c

25 d

1    10
0    20
dtype: int64 e

3     5
4    15
0    20
dtype: int64 f

In [ ]:
grades = pd.Series([82,94,77,89,91,54])
print(grades,'grades\n')

grades.index = ['homer', 'maggie', 'grandpa', 'bart', 'lisa', 'marge']
print(grades,'\n')

#print("grades['bart'] =", grades['bart'], '\n')

print('grades.iloc[3] =', grades.iloc[3]) #index pos
print("grades.loc['bart'] =", grades.loc['bart'],'\n'  ) #index labels
print(grades.loc['homer' : 'bart'],'\n')
print(grades.iloc[0:3],'\n')

0    82
1    94
2    77
3    89
4    91
5    54
dtype: int64 grades

homer      82
maggie     94
grandpa    77
bart       89
lisa       91
marge      54
dtype: int64

grades.iloc[3] = 89
grades.loc['bart'] = 89

homer      82
maggie     94
grandpa    77
bart       89
dtype: int64

homer      82
maggie     94
grandpa    77
dtype: int64

In [11]:
g = pd.Series(np.random.normal(size=10**7))
print(g,'\n')
print(g.index)

0          0.410963
1          1.708036
2         -1.734173
3          0.346607
4          1.662486
             ...
9999995   -1.754616
9999996    0.837890
9999997    1.806260
9999998    0.734602
9999999    1.327272
Length: 10000000, dtype: float64

RangeIndex(start=0, stop=10000000, step=1)

In [12]:
h = pd.Series(np.random.normal(size=10**7), index = np.arange(10**7))
print(h,'\n')
print(h.index)

0          0.336816
1          1.429209
2          0.697793
3         -1.234920
4         -0.963300
             ...
9999995   -0.875729
9999996   -0.836448
9999997    1.620647
9999998    1.327555
9999999    0.768310
Length: 10000000, dtype: float64

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            9999990, 9999991, 9999992, 9999993, 9999994, 9999995, 9999996,
            9999997, 9999998, 9999999],
           dtype='int64', length=10000000)

In [15]:
print(sys.getsizeof(g))
print(sys.getsizeof(h))

80000144
160000016

In [19]:
i = pd.Series([2,3,5,7,11], index=[0,0,1,1,2])
i

0     2
0     3
1     5
1     7
2    11
dtype: int64

In [20]:
i.loc[0]

0    2
0    3
dtype: int64

In [21]:
foo = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(foo,'\n')
foo.iloc[1] = 200
print(foo,'\n')
foo.loc['b'] = 220
print(foo,'\n')

foo.iloc[[0, 1, 2]] = 99
print(foo,'\n')
foo.loc[['a', 'b', 'c']] = 999
print(foo,'\n')

foo.loc['a':'c'] = 9999
print(foo,'\n')

a    10
b    20
c    30
d    40
e    50
dtype: int64

a     10
b    200
c     30
d     40
e     50
dtype: int64

a     10
b    220
c     30
d     40
e     50
dtype: int64

a    99
b    99
c    99
d    40
e    50
dtype: int64

a    999
b    999
c    999
d     40
e     50
dtype: int64

a    9999
b    9999
c    9999
d      40
e      50
dtype: int64